.pointContent {
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	height: 500px;
	width: 100%;
	margin-bottom: 3rem;
}

.pointHeading {
	margin-bottom: 1rem;
}

.pointImage {
	height: 100%;
}

.pointText {
	width: 100%;
}

.pointText.left {
	padding-right: 6rem;
}

.pointText.right {
	padding-left: 6rem;
}

.pointLeft {
	width: 50%;
	align-content: center;
}

.pointRight {
	width: 50%;
	position: relative;
}

.productHeadingText {
	color: var(--mainblue);
}
