.carouselDot {
	width: 10px;
	height: 10px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	background-color: #fff;
	border-radius: 50%;
	outline: 1px solid var(--lightgreyblue);
}

.carouselDot.active {
	background-color: var(--darkblue);
	outline: 1px solid var(--darkblue);
}

.carouselImage.active {
	opacity: 1;
}

.carouselImage {
	position: absolute;
	inset: 0;
	transition: opacity 1.2s ease-in-out; /* fade duration */
	opacity: 0;
}

.floatingContainer {
	position: absolute;
	background-color: white;
	border: 1px solid white;
	border-radius: 0.3rem;
	top: calc((var(--spacing) * 115) - 250px);
	opacity: 1;
}

.floatingContainer.left {
	box-shadow: -8px 5px 5px var(--lightgreyblue);
}

.floatingContainer.right {
	box-shadow: 8px 5px 5px var(--lightgreyblue);
}
